{% extends 'base.html' %}

{% block body %}
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h1>Create candidates</h1>
      <hr>
      {% include '_form.html' %}
    </div>
  </div>
{% endblock %}
