{% extends 'base.html' %}

{% block body %}
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h2>Delete candidates</h2>
      <hr>
      <p>Are you sure to delete candidates {{ candidate.full_name }}?</p>
      <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-danger">Yes</button>
        <a href="{% url 'candidates:show' candidate.id %}" class="btn btn-sm btn-secondary">No</a>
      </form>
    </div>
  </div>
{% endblock %}
