{% extends 'base.html' %}

{% block body %}
  <div class="row">
    <div class="col">
      <h1>
        Candidates list
        <a href="{% url 'candidates:create' %}" class="btn btn-success float-right">Create</a>
      </h1>
      <div class="modal fade" id="vote-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form action="" method="post">
              {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Vote confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p id="confirm-label"></p>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Vote</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for candidate in candidates %}
            <tr>
              <td scope="row">{{ candidate.id }}</td>
              <td><a href="{% url 'candidates:show' candidate.id %}">{{ candidate.full_name }}</a></td>
              <td>{{ candidate.vote }}</td>
              <td>
                <button type="button" class="btn btn-info btn-sm"
                        data-toggle="modal" data-target="#vote-modal"
                        data-action="{% url 'candidates:vote' candidate.id %}"
                        data-candidate-name="{{ candidate.full_name }}">
                  vote
                </button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    $('#vote-modal').on('show.bs.modal', function (event) {
      var modal = $(this);
      var button = $(event.relatedTarget);
      var action = button.data('action');
      var candidateName = button.data('candidate-name');

      modal.find('#confirm-label').text('Sure to vote for ' + candidateName + '?');
      modal.find('form').attr('action', action)
    })
  </script>
{% endblock %}
