{% extends 'base.html' %}

{% block body %}
  <div class="row">
    <div class="col">
      <h1>#{{ candidate.id }} {{ candidate.full_name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">name</th>
            <td>{{ candidate.full_name }}</td>
          </tr>
          <tr>
            <th scope="row">age</th>
            <td>{{ candidate.age }}</td>
          </tr>
          <tr>
            <th scope="row">politics</th>
            <td>{{ candidate.politics | linebreaks }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="{% url 'candidates:index' %}" class="btn">< Back</a>
      <a href="{% url 'candidates:edit' candidate.id %}" class="btn btn-sm btn-info">Edit</a>
      <a href="{% url 'candidates:delete' candidate.id %}" class="btn btn-sm btn-danger">Delete</a>
    </div>
  </div>
{% endblock %}
