{% load message_kind %}

{% if messages %}
  <div class="row">
    <div class="col">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags | message_kind }} alert-dismissible fade show" role="alert">
          <strong>{{ message.tags }}</strong> {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
